<!-- <h3>Apex-charts-demo</h3>
<div class="row">
  <div class="col-sm-3" >
<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [dataLabels]="chartOptions.dataLabels"
    [grid]="chartOptions.grid"
    [stroke]="chartOptions.stroke"
    [title]="chartOptions.title"
  ></apx-chart>
</div>
</div>
<div class="col-sm-3" >
<div id="chart">
  
  <apx-chart
    [series]="chartOptions_1.series"
    [chart]="chartOptions_1.chart"
    [xaxis]="chartOptions_1.xaxis"
    [stroke]="chartOptions_1.stroke"
    [colors]="chartOptions_1.colors"
    [dataLabels]="chartOptions_1.dataLabels"
    [legend]="chartOptions_1.legend"
    [markers]="chartOptions_1.markers"
    [grid]="chartOptions_1.grid"
    [yaxis]="chartOptions_1.yaxis"
    [title]="chartOptions_1.title"
  ></apx-chart>
</div>
</div>
<div class="col-sm-3" >
<div id="chart">
  <apx-chart
    [series]="chartOptions_2.series"
    [chart]="chartOptions_2.chart"
    [xaxis]="chartOptions_2.xaxis"
    [stroke]="chartOptions_2.stroke"
    [tooltip]="chartOptions_2.tooltip"
    [dataLabels]="chartOptions_2.dataLabels"
  ></apx-chart>

</div>
</div>
</div>
<div class="row">
<div id="chart">
  <apx-chart
    [series]="chartOptions_3.series"
    [chart]="chartOptions_3.chart"
    [labels]="chartOptions_3.labels"
    [responsive]="chartOptions_3.responsive"
  ></apx-chart>
</div>
</div> -->

<!-- <div id="chart">
<apx-chart
  [series]="series"
  [chart]="chart"
  [dataLabels]="dataLabels"
  [markers]="markers"
  [title]="title"
  [fill]="fill"
  [yaxis]="yaxis"
  [xaxis]="xaxis"
  [tooltip]="tooltip"
  [autoUpdateSeries]="true"
></apx-chart>
</div> -->


<a routerLink="steper-form">Steper-Form</a> |
  <a routerLink="button-add">Add-button</a> |
  <a routerLink="datepickerrange">Datepickerrange</a> |
  <a routerLink="agm-map">Agm-Map</a> |
  <a routerLink="card-chart">Card-Chart</a> |
  <a routerLink="apex-chart">Apex-Chart</a> |
  <a routerLink="form-data">Form-Data</a> |
  <a routerLink="drag-drop">Drag-Drop</a> |
  <a routerLink="form-data">Form-Data</a> |
  <a routerLink="add-table">Table</a> |
<router-outlet></router-outlet>